.paddingZoneaccueil{
    padding-top: 144px;
    padding-bottom: 144px;
}
.bg{
    background-color: #F3F3EE;
}
.container{
    max-width: 1200px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-12{
    flex: 100%;
    max-width: 100%;
}
.bg-fix-pink{
    background-color: #E0C3AF;
    position: relative;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
}
.paddingZoneapropos{
    padding-top: 100px;
    padding-bottom: 100px;
}

.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 2rem;

}




/*//////////////////////////////////////////////////////////////////
[ NAVBAR ]*/
.navgition {
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
.navgition.navgition-transparent {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99; }
.navgition.sticky {
    position: fixed;
    background-color: #f3f3ee;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
.navgition .navbar {
    position: relative;
    padding: 0; }
.navgition .navbar .navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #121212;
    margin: 5px 0;
    display: block;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
.navgition .navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px; }
.navgition .navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0; }
.navgition .navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navgition .navbar .navbar-collapse {
        position: absolute;
        top: 116%;
        left: 0;
        width: 100%;
        background-color: #f3f3ee;
        z-index: 8;
        padding: 10px 0;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16); } }
@media (max-width: 767px) {
    .navgition .navbar .navbar-collapse {
        position: absolute;
        top: 116%;
        left: 0;
        width: 100%;
        background-color: #f3f3ee;
        z-index: 8;
        padding: 10px 0;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16); } }
.navgition .navbar .navbar-nav .nav-item {
    margin: 0 16px;
    position: relative; }
.navgition .navbar .navbar-nav .nav-item a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding: 26px 0;
    color: #3c4f4d;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navgition .navbar .navbar-nav .nav-item a {
        padding: 10px 0;
        display: block; } }
@media (max-width: 767px) {
    .navgition .navbar .navbar-nav .nav-item a {
        padding: 10px 0;
        display: block; } }
.navgition .navbar .navbar-nav .nav-item a::before, .navgition .navbar .navbar-nav .nav-item a::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 4px;
    background-color: #e0c3af;
    left: 50%;
    margin: 0 2px;
    bottom: 14px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navgition .navbar .navbar-nav .nav-item a::before, .navgition .navbar .navbar-nav .nav-item a::after {
        display: none; } }
@media (max-width: 767px) {
    .navgition .navbar .navbar-nav .nav-item a::before, .navgition .navbar .navbar-nav .nav-item a::after {
        display: none; } }
.navgition .navbar .navbar-nav .nav-item a::after {
    left: auto;
    right: 50%; }
.navgition .navbar .navbar-nav .nav-item.active > a, .navgition .navbar .navbar-nav .nav-item:hover > a {
    color: #e0c3af; }
.navgition .navbar .navbar-nav .nav-item.active > a::before, .navgition .navbar .navbar-nav .nav-item.active > a::after, .navgition .navbar .navbar-nav .nav-item:hover > a::before, .navgition .navbar .navbar-nav .nav-item:hover > a::after {
    opacity: 1; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navgition .navbar .navbar-social {
        position: absolute;
        right: 70px;
        top: 7px; } }
@media (max-width: 767px) {
    .navgition .navbar .navbar-social {
        position: absolute;
        right: 60px;
        top: 7px; } }
.navgition .navbar .navbar-social span {
    font-size: 16px;
    font-weight: 700;
    color: #6c6c6c;
    line-height: 24px;
    margin-right: 14px; }
.navgition .navbar .navbar-social ul li {
    display: inline-block;
    margin-right: 5px; }
.navgition .navbar .navbar-social ul li a {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    color: #6c6c6c;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
.navgition .navbar .navbar-social ul li a:hover {
    color: #e0c3af; }

.header-hero {
    height: 850px;
    position: relative; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-hero {
        height: 700px; } }
@media (max-width: 767px) {
    .header-hero {
        height: 650px; } }
.header-hero::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 50%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12));
    background: -o-linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 50%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12));
    background: linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 50%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12)); }
.header-hero .header-content {
    padding-top: 195px;
    position: relative;
    z-index: 9; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-hero .header-content {
        padding-top: 130px; } }
@media (max-width: 767px) {
    .header-hero .header-content {
        padding-top: 120px; } }
.header-hero .header-content .header-title {
    font-size: 44px;
    line-height: 55px;
    color: #3c4f4d;
    font-weight: 600; }
@media (max-width: 767px) {
    .header-hero .header-content .header-title {
        font-size: 30px;
        line-height: 40px; } }
.header-hero .header-content .text {
    font-size: 20px;
    line-height: 32px;
    color: #6c6c6c;
    margin-top: 16px; }
@media (max-width: 767px) {
    .header-hero .header-content .text {
        font-size: 16px;
        line-height: 24px; } }
.header-hero .header-content .header-btn {
    margin-top: 22px; }
.header-hero .header-content .header-btn li {
    display: inline-block;
    margin: 10px 10px 0; }
.header-hero .header-content .header-btn li a.main-btn {
    border-radius: 50px;
    overflow: hidden;
    background-color: #f3f3ee;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: 0;
    line-height: 50px; }
.header-hero .header-content .header-btn li a.main-btn i {
    margin-left: 5px; }
.header-hero .header-content .header-btn li a.main-btn.btn-one {
    color: #f3f3ee; }
.header-hero .header-content .header-btn li a.main-btn.btn-one::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: -webkit-linear-gradient(left, #0067f4, #2bdbdc);
    background-image: -o-linear-gradient(left, #0067f4, #2bdbdc);
    background-image: linear-gradient(to right, #0067f4, #2bdbdc);
    background-position: right center;
    z-index: -1;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }

.header-hero .header-content .header-btn li a.main-btn.btn-two:hover {
    -webkit-box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16); }
.header-hero .header-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
.header-hero .header-shape img {
    width: 100%; }


/*//////////////////////////////////////////////////////////////////
[ SOINS ]*/



.col-xl-8{
    background-color: #e0c3af;
    opacity: 40%;
}


.imgsoins {
    position: relative;
    width: 50%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.imgsoins:hover .image {
    opacity: 0.3;
}

.imgsoins:hover .middle {
    opacity: 1;
}

.text-soin {
    background-color: #5b7163;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}










/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #f3f3ee;

}

.wrap-contact100 {
    width: 1120px;
    background: #3c4f4d;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;

}

/*==
[ Contact more ]*/
.contact100-more {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 30px 15px 0px 15px;
}

.contact100-more::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(91, 113, 99, 0.8);
}

.dis-flex{
    margin-top: 50px;
    color: white;
    margin-bottom: 50px;
}
.text-color{
    color: white;
}
/*==================================================================
[ Form ]*/

.contact100-form {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 56px 55px 63px 55px;
}

.contact100-form-title {
    width: 100%;
    display: block;
    font-family: Poppins-Regular;
    font-size: 30px;
    color: #5b7163;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 33px;
}



/*
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border: 1px solid #3c4f4d;
}

.rs1-wrap-input100,
.rs2-wrap-input100 {
    width: 50%;
}

.rs2-wrap-input100 {
    border-left: none;
}

.label-input100 {
    font-family: Poppins-Regular;
    font-size: 12px;
    color: #3c4f4d;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 55px;
    border: 1px solid #3c4f4d;
    border-bottom: none;
    padding: 10px 25px;
    margin-top: 15px;
    margin-bottom: 0;
}

.input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #3c4f4d;
    line-height: 1.2;
    padding: 0 25px;
}

input.input100 {
    height: 55px;
}


textarea.input100 {
    min-height: 139px;
    padding-top: 19px;
    padding-bottom: 15px;
}

/*---------------------------------------------*/

.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #3c4f4d;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
    visibility: visible;
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}



/*
[ Button ]*/
.container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 23px;
}

.contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 200px;
    height: 50px;
    border-radius: 2px;
    background: #3c4f4d;

    font-family: Montserrat-Bold;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact100-form-btn:hover {
    background: #333333;
}



/*
[ Responsive ]*/

@media (max-width: 992px) {
    .contact100-form {
        width: 60%;
        padding: 56px 30px 63px 30px;
    }

    .contact100-more {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .contact100-form {
        width: 100%;
    }

    .contact100-more {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .contact100-form {
        padding: 56px 15px 63px 15px;
    }

    .rs1-wrap-input100,
    .rs2-wrap-input100 {
        width: 100%;
    }

    .rs2-wrap-input100 {
        border-left: 1px solid #3c4f4d;
        border-top: none;
    }
}


/*
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #f3f3ee;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;

    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

/*===========================
      Atelier css
===========================*/
.img-pricing{
    border-radius: 50%
}
.icon{
    padding-right: 10px;
}
.pricing-area {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f3f3ee; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pricing-area {
        padding-top: 100px;
        padding-bottom: 100px; } }
@media (max-width: 767px) {
    .pricing-area {
        padding-top: 80px;
        padding-bottom: 80px; } }

.single-pricing {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 24px 20px 50px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background-color: #5b7163;
    opacity: 50%;
}
.single-pricing .pricing-header .sub-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color: #f3f3ee;
    position: relative;
    padding-bottom: 8px;
    padding-top: 20px;
}
.single-pricing .pricing-header .sub-title::before {
    position: absolute;
    content: '';
    width: 72px;
    height: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #121212;
    margin: 0 auto; }
.single-pricing .pricing-header .price {
    display: block;
    font-size: 64px;
    font-weight: 600;
    line-height: 80px;
    margin-top: 32px;
    color: #f3f3ee; }
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .single-pricing .pricing-header .price {
        font-size: 50px;
        margin-top: 16px; } }
@media (max-width: 767px) {
    .single-pricing .pricing-header .price {
        font-size: 50px;
        margin-top: 16px; } }
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-pricing .pricing-header .price {
        font-size: 64px;
        margin-top: 32px; } }
.single-pricing .pricing-header .year {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color: #6c6c6c;
    margin-top: 3px; }
.single-pricing .pricing-list {
    margin-top: 40px; }
.single-pricing .pricing-list ul li {
    font-size: 16px;
    line-height: 24px;
    color: #f3f3ee;
    margin-top: 16px; }
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .single-pricing .pricing-list ul li {
        font-size: 14px;
        margin-top: 12px; } }
@media (max-width: 767px) {
    .single-pricing .pricing-list ul li {
        font-size: 14px;
        margin-top: 12px; } }
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-pricing .pricing-list ul li {
        font-size: 16px;
        margin-top: 16px; } }
.single-pricing .pricing-list ul li i {
    color: #0067f4;
    margin-right: 8px; }

.single-pricing .buttom-shape {
    position: absolute;
    bottom: 50px;
    left: 10%;
    width: 101%; }

.single-pricing.pro .pricing-header .sub-title::before {
    right: auto;
    left: 0;
    background-color: #3c4f4d; }

.single-pricing.pro .pricing-baloon {
    position: absolute;
    top: 0;
    right: -78px;
    width: 156px; }

.single-pricing.enterprise .pricing-header .sub-title::before {
    right: 0;
    left: auto;
    background-color: #3c4f4d; }

.single-pricing.enterprise .pricing-flower {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 144px; }
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .single-pricing.enterprise .pricing-flower {
        width: 110px; } }
@media (max-width: 767px) {
    .single-pricing.enterprise .pricing-flower {
        width: 110px; } }
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-pricing.enterprise .pricing-flower {
        width: 144px; } }
.single-pricing.enterprise .pricing-flower img {
    width: 100%; }



/*===========================
       7.FOOTER css
===========================*/
.footer-area {
    background-color: #e0c3af; }


.footer-copyright {
    background-color: #5b7163; }

.copyright {
    padding: 23px 0; }

.main-footer .social li {
    display: inline-block;
    margin: 0 15px 15px 15px;
}

.main-footer .social li a {
    padding: 20px;
}

.main-footer .social li a:hover {
    background: #3c4f4d;
    border-color: #3c4f4d;
}


.copyright p {
    margin-bottom: 10px;
    font-size: 12px;
}

@media screen and (min-width: 993px) {
    .container {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media screen and (max-width: 1040px) {
    .container {
        padding-right: 40px;
        padding-left: 40px;
    }
}
/*===========================
       le bouton
===========================*/


.back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    bottom: 10px;
    z-index: 999;
    color: #5B7163;
    font-size: 20px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}


.back-to-top:hover {
    background-color: #005ad5;
    color: #fff; }
